Requirements:
I. Professor Requirements
	A. The project shall use the TIVA TM4C123GYL board
	B. The project shall incoporate serial / parrellel I/O
	C. The project shall demonstrate usefulnes.
	D. The project shall have a manifestation in the physical world.
II. Hardware
	A. The microprocessor shall connect to a programmable-per-light LED strip.
III. Software
	A. The project shall have several different light patterns for the LED strip, able to be switched between.
	B. At least one of the light patterns shall match the tune of "jingle bells"
	C. At least one of the light patterns (excluding jingle bells) shall be christmas-themed.